server {
    listen 80;

    location / {
        proxy_pass http://monitor-service:3000; # redireciona pro serviço Node.js
    }

    location /metrics {
        proxy_pass http://monitor-service:3000/metrics;
    }

    # Página estática opcional
    location /status {
        return 200 "Nginx ativo e roteando!\n";
    }
}
